body {	
	margin: 0;
	padding: 0;	
}

#mainInput
{
	z-index: 1000;
	height: 100%;
	width: 100%;
	visibility: visible;
	background-color:#FFFFFF;	
	position: absolute;
}

#nicknameInput
{	
	text-align: left;
	border-top-color: #0CF;
	border-right-color: #0CF;
	border-bottom-color: #0CF;
	border-left-color: #0CF;
	position: absolute;
}

#panel
{
    height: 100%;
	width: 100%;
}

#viewcontainer
{
	position:relative;
	float:left;
    height: 100%;
	width: 100%;  
	background-colo:#FFFFFF;
	border: 1px solid #666;
}

#mainOut
{
	position:relative;
	float:left;
	width:84%;
	height:500px;
	background-color: #FFFFFF;
	overflow: auto;
}

#participants
{
	position:relative;
	float:left;
	width:15%;
	height:500px;
	background-color: #FFFFFF;
	overflow-y: auto;
	overflow-x: hidden;	
	margin: 0 auto;
	border: 1px solid #666;
	border-left-style:solid;	
}

#participant
{
	position:relative;
	float:left;
	width: 100%;
	height: 25px;
	vertical-align: middle;
	background-color: #FFFFFF;	
	margin: 2px;
}

#participant:hover
{	
	background-color: #FFE5FF;	
	font-size:110%;
}

#container2
{
	width:100%;
	height:100%;
}

#inputMsg
{
	position:relative;
	float:left;
  	width: 100%;
	height:50px;
    background-color: #FFFFFF;
}
#status
{
	position:relative;
	width: 100%;
	float:left;  
    background: #F96;
}
#mainDiv
{	
	min-width: 780px;
	background: #FFFFFF;
	margin: 0 auto; 
	overflow: hidden;
	width: 100%;
	border: 1px solid #666;	
}

#container
{			
	background: #FFFFFF;
	width: 100%;
	overflow: hidden;	
}

#tab
{	
	float: left;
	margin: 0 0 5px 5px;
	border: 1px solid #666;
	padding: 1px;
	background: #FFFFFF;
	max-width: 100px;
	max-higth: 20px;	
}

#tab:hover
{	
	background: #CFCFFF;	
}

#tabfocus
{	
	float: left;
	margin: 0 0 5px 5px;
	border: 1px solid #666;
	padding: 1px;
	background: #C6B5FF;
	max-width: 100px;
	max-higth: 20px;	
}

#errorDiv
{
	 color: red;
}
#key
{
	display: none
}

#containerTabs
{
	border: 1px solid #666;
}
